name: "Destroy Infrastructure"

on:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE}}
  AWS_REGION: us-east-1

jobs:
  terraform-destroy:
    name: "Destroy TF"
    runs-on: ubuntu-latest
    permissions:
      id-token: write  
      contents: read

    defaults:
      run:
        shell: bash
        working-directory: ./infra

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::911893329503:role/skillnest-infra-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: TF init
        run: terraform init -backend-config="bucket=$BUCKET_TF_STATE"

      - name: TF Destroy
        run: terraform destroy -auto-approve -input=false